body {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;  
  line-height: 18px;   
 
}

h1 {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  line-height: 48px;    
}

h2 {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  line-height: 36px;    
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;  
  border-radius: 3px;     
  background: #f1f1f1;  
  padding: 10px 40px;
  
  
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #e5e5e5;
}


.btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 0 #b5b5b5;
}

button {
 overflow: hiddenn;
}
/* стилизация форм*/

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  
  margin-bottom: 35px;
}

.filter-modules input[type="checkbox"] {
  opacity: 0;
}

.filter-modules label,
.filter-grids label {
  display: block;
  position: relative;
  padding-left: 18px;
  padding-bottom: 22px;
  
  color: #283136;  
  cursor: pointer; 

}

.filter-modules label:hover,
.filter-grids label:hover {
  color: #000;
}


.filter-modules input[type="checkbox"] + .filter-modules-checkbox-indicator {
  position: absolute;
  left: 0;
  top: -3px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  width: 18px;
  height: 18px;
}



.filter-modules input[type="checkbox"]:checked + .filter-modules-checkbox-indicator::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 5px;
  height: 12px;
  background-color: #c1c1c1;
  transform: rotate(-45deg);
  z-index: 2;
}

.filter-modules input[type="checkbox"]:checked + .filter-modules-checkbox-indicator::after {
  content: "";
  position: absolute;
  left: 13px;
  top: -2px;
  width: 5px;
  height: 17px;
  background-color: #c1c1c1;
  transform: rotate(45deg);
  box-shadow: 0 0 0 2px #fff;
  z-index: 1;
}



.filter-grids input[type="radio"] {
  opacity: 0;
}

.filter-grids input[type="radio"] + .filter-grids-radio-indicator {
  position: absolute;
  left: 0;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 4px solid #c1c1c1;
  border-radius: 50%;
}

.filter-grids input[type="radio"]:checked + .filter-grids-radio-indicator::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  
  width: 8px;
  height: 8px;
  background-color: #c1c1c1;
  border-radius: 50%;
}

.filter-modules input[type="checkbox"]:hover + .filter-modules-checkbox-indicator:hover,
.filter-grids input[type="radio"]:hover + .filter-grids-radio-indicator:hover {
  border-color: #b5b5b5;
}

.filter-grids input[type="radio"]:checked:hover + .filter-grids-radio-indicator:hover::before {
  background-color: #b5b5b5;
}


.filter-modules input[type="checkbox"]:checked:hover + .filter-modules-checkbox-indicator:hover::after,
.filter-modules input[type="checkbox"]:checked:hover + .filter-modules-checkbox-indicator:hover::before {
  background-color: #b5b5b5;  
}

.main-header {  
  background-color: #eeeeee;
  
}


.title-wrapper {
  background-color: #eeeeee;
  padding-top: 36px;
  padding-bottom: 56px;
  margin-bottom: 80px;
}

.container {
  width: 880px;
  margin: 0 auto;  
}


.logo {
  width: 140px;
  float: left;
  margin-right: 30px;
  margin-top: 27px;    
  
}

.main-navigation {
  width: 450px;
  float: left;     
  font-size: 0;
  margin-top: 54px;
  margin-left: 153px;  
}

.main-navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
  

.main-navigation li {
  display: inline-block;  
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 46px 0 0;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation-menu-item a {
  display: block;  
  text-decoration: none;
  color: #000;
  
}

.main-navigation-menu-item a:hover {
  color: #fb565a;
}

.main-navigation-menu-item a:active {
  color: #000;
  opacity: 0.4;
}


.main-navigation-menu-item .active {
  border-bottom: 2px solid #fb565a;
}

.user-cart {
  max-width: 100px;   
  float: right;
}

.cart {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  margin-top: 55px;
  padding-left: 34px;
  
  position: relative;   
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: #000;
  opacity: 0.4;
}
.cart::before {
  content: "";
  position: absolute;  
  top: 6px;
  left: 7px;
  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-sprite.png");
  background-position: 0 -68px;
}

.cart:hover::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-sprite.png");
  background-position: -26px -68px;
}

.cart:active:before {
  content: "";
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  
  background-image: url("../img/icon-sprite.png");
  background-position: 0 -68px;
  
}

.slider-wrapper {
  background-color: #eeeeee;   
  margin-bottom: 80px;
  padding-top: 40px;
}

.slider-container {
  width: 880px;
  margin: 0 auto;  
  position: relative;
  overflow: hidden;
  min-height: 310px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 310px;

  background-repeat: no-repeat;
  background-position: 100% 10px;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}

.slider-container input[type="radio"] {
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 87px;
  left: 50%;
  z-index: 10;

  width: 200px;
  margin-left: -110px;

  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 500px;
  padding: 30px 0 0 0;
}

.slide-title {  
  font-size: 36px;
  line-height: 36px;
}

.slide p {  
  line-height: 22px;
  color: #283136;
}

.slide .btn {
  display: block;
  width: 220px;
  margin-top: 30px;
  padding: 10px 10px;  
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
}

.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
}

.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slider .slide:nth-child(2),
#btn-1:checked ~ .slider .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slider .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slider .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slider .slide:nth-child(3) {
  left: -880px;
}

#btn-3:checked ~ .slider .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slider .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slider .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}


.services-container {
  border-bottom: 2px solid #eeeeee;
}

.services {  
  width: 240px;
  float: left;  
  margin-right: 80px;
  margin-bottom: 80px;
}

.services:last-child {    
  margin-right: 0;     
}

.services p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}

.service-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;  
  margin-top: 19px;
  margin-bottom: 14px;
}




.service-btn-red,
.map-write-btn,
.catalog-item-btn {
  color: #fff;
  background: #fb565a;
}

.service-btn-red:hover,
.map-write-btn:hover,
.catalog-item-btn:hover,
.slide .btn:hover,
.write-us-btn:hover,
.modal-content-close:hover {
  background-color: #d6494d;  
}

.service-btn-red:active,
.map-write-btn:active,
.catalog-item-btn:active,
.slide .btn:active,
.write-us-btn:active,
.modal-content-close:active {
  background-color: #b63538;
  box-shadow: inset 0 2px 0 0 #9b2d30;  
}


.service-btn-green {
  color: #fff;
  background: #00ca74;
}

.service-btn-green:hover {
  background-color: #01a25e;
}

.service-btn-green:active {
  background-color: #009053;
  box-shadow: inset 0 2px 0 0 #007b47;
}

.service-btn-yellow {
  color: #fff;
  background-color: #efc84a;
}

.service-btn-yellow:hover {
  background-color: #d6ae2c;
}

.service-btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 2px 0 0 #a3841f;
}



.about-us-left-column {
  width: 620px;
  float: left;   
}

.about-us-left-column h2 {  
  margin-top: 70px;
  margin-bottom: 17px;  
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.about-us-left-column h3,
.about-us-right-column h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;  
  margin-bottom: 25px;
  font-weight: 500;
}

.about-us-left-column p {
  line-height: 22px;
  margin-bottom: 45px;
  padding-right: 50px;
}

.about-us-left-column ul, 
.about-us-right-column ul {
  padding: 0;
}

.about-us-ul li {
  margin-bottom: 25px;
  list-style: none;
  padding-left: 37px;
  position: relative;  
}

.about-us-left-column li:last-child,
.about-us-right-column li:last-child {
  margin-bottom: 72px;
}

.about-us-left-column li::before,
.about-us-right-column li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;  
  position: absolute;
  left: 0;
  top: 8px;
}

.about-us-right-column {
 width: 240px;
 float: right; 
}

.about-us-logo img {
  margin-top: 60px;
}

.about-us-logo span {
  display: block;
  margin-top: 26px;
  margin-bottom: 68px;
  padding: 0 70px 0 80px;
  position: relative;  
  line-height: 16px;
  text-transform: uppercase;
}

.about-us-logo span::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
}

.about-us-logo span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
  
}

.our-clients {   
  margin: 0 0 85px 0;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee; 
  
  padding-top: 45px;
  padding-bottom:  26px;
  
}

.our-clients-logo {
  width: 210px;
  display: inline-block;
  vertical-align: middle;   
  opacity: 0.3;
  
  margin: 0 10px 0 10px;
}

.our-clients-logo:nth-child(3n+2) {
  margin-left: 100px;
  margin-right: 100px;
}


.our-clients-logo:hover {
  opacity: 1;
}

.map-wrapper {
  min-height: 415px; 
  position: relative;
}


.map {
  position: absolute;
  z-index: 5;
  top: 88px;
}
.map-address {
  display: block;
  width: 204px;  
  background-color: #ffffff;
  margin-bottom: 0;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 17px;
  padding-bottom: 26px;  
}


   

.map-address p {
  color: #666666;
  line-height: 20px;  
}

.map-address .map-address-name {
  text-transform: uppercase;
  color: #000;
}


.map-write-btn {
  box-sizing: border-box;
  width: 100%;  
  margin-top: 15px;
}

.map-wrapper {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* футер */

.page-footer {
  padding: 75px 0 58px 0;  
}

.page-footer-socials {
  width: 240px;
  float: left;
  margin-right: 80px;  
  font-size: 0;  
}

.page-footer-socials a {
  display: inline-block;
  vertical-align: top;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 28px;
  
  
  font-size: 0;
  position: relative;
}

.page-footer-socials a:hover {
  background: #fb565a;  
}

.page-footer-socials a:active {
  background: #d6494d;
  box-shadow: inset 0 5px 0 0 #b63e42;
}

.socials-btn-vk span {
  display: block;
  position: absolute;
  top: 41%;
  left: 27%;
  width: 26px;
  height: 16px;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -90px;
}

.socials-btn-fb span {
  display: block;
  width: 12px;
  height: 22px;
  position: absolute;
  top: 33%;
  left: 40%;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -35px -86px;  
}

.socials-btn-inst span {
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 34%;
  left: 34%;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -57px -87px;
}

.page-footer-socials a:last-child {
  margin-right: 0;
}


.page-footer-text {
  width: 550px;
  float: left;  
}

.page-footer-text span {
  font-size: 36px;
  line-height: 36px;  
}

.page-footer-text p {
  font-size: 16px;
  line-height: 16px;
  padding-top: 0;
}


.catalog-title h1 {  
  text-align: center;
  text-transform: uppercase;  
}

/*фильтр в каталоге*/

.column-left-filters {
  width: 240px;
  float: left;
}

.filters {
  width: 240px; 
}

.filters legend {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0;  
  margin-bottom: 20px;
  
}

.filter-range {
  width: 240px;
  margin-bottom: 15px;
}

.filter-range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-range-controls-scale {
  height: 2px;
  background: #d7dcde;
}

.filter-range-controls-bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter-range-controls .toogle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.filter-range-controls .toogle-min {
  left: 20px;
}

.filter-range-controls .toogle-max {
  left: 160px;
}

.filter-range-cost {
  font-size: 0;
}

.filter-range-cost label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%; 
  vertical-align: top;
}

.filter-range-cost label:last-child {
  margin-right: 0;
}


.filter-range-cost input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;  
  width: 60px;
  margin-left: 10px;
  padding: 10px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #f1f1f1;
}

.filters-form button {
  padding: 10px 47px;
}

.column-right-items {
  width: 560px;
  float: right;
}

.catalog-items {
  font-size: 0px;
}

.catalog-item {
  width: 240px;
  min-height: 240px;
  display: inline-block;
  vertical-align: top; 
  margin-bottom: 80px;  
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;  
  font-size: 0;
  padding-top: 30px;
   
  position: relative;
}

.catalog-item:nth-child(odd) {
  margin-right: 80px;
}

.catalog-item:hover {
  background-color: #797979;
}

.catalog-item::before {
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 
    17px 0 0 #fff,
    34px 0 0 #fff;
  position: absolute;
  left: 13px;
  top: 10px;
  opacity: 0.7;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-img {
  width: 240px;
  height: 240px;
}


.catalog-item-form {  
  width: 200px;  
  height: 200px;
  position: absolute;  
  top: 50%;
  left: 50%;
  margin: -85px 0 0 -100px;
  background-color: #ffffff; 
  
  display: none;
}

.catalog-item:hover .catalog-item-form {
  display: block;
  animation: form 1s;
}

@keyframes form {
  from {transform: scale(0.9)};
  to {transform: scale(1)};
}


.catalog-item-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  
  
  margin-top: 33px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;  
}


.catalog-item-about {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;  
}

.catalog-item-about a {
  text-decoration: none;
  color: #000; 
}


.catalog-item-btn {  
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px; 
  text-align: center;
  width: 140px;
  padding: 10px 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 35px 0 0 -70px;  
}

.items-filter {  
  margin-bottom: 15px;
  min-height: 23px;
  
}

.items-filter-title {
  width: 86px;
  float: left;
  margin-right: 40px; 
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.items-filter-category {
  width: 304px;
  float: left;  
  font-size: 0;
  margin: 0;
  padding: 0; 
}

.items-filter-category ul {
  margin: 0;
  padding: 0; 
}

.items-filter-category li {
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;  
} 

.items-filter-category li:last-child {
  margin-right: 0;
}

.items-filter-category a {
  text-decoration: none; 
  color: #000;
  opacity: 0.3;
  border-bottom: 1px dotted #00ca74;
}

.items-filter-category a:hover {
  text-decoration: none; 
  color: #000;
  opacity: 1;
  border-bottom: 1px solid #00ca74;
}

.items-filter-category a:active {
  color: #000;
  border-color: transparent;
}


.items-filter-controls {
  width: 28px;
  height: 20px;
  float: right;
  position: relative;
}

.items-filter-controls-down {  
  font-size: 0;
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-right: 7px;
  position: absolute;
  top: 2px;
  left: 0;
}


.items-filter-controls > .active-down {
  border: 10px solid #00ca74;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

.items-filter-controls-up {
  content: "";
  font-size: 0;
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  
  position: absolute;
  top: -16px;
  left: 17px;
}

.items-filter-controls-up:hover {    
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;  
}

.items-filter-controls-up:active {    
  border: 10px solid #000;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;  
}

.items-filter-controls-down:hover {
  border: 10px solid #c1c1c1;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent; 
} 

.items-filter-controls-down:active {
  border: 10px solid #000;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent; 
} 


/*пагинатор*/
.paginator {
  margin-bottom: 78px;
  font-size: 0;  
}

.paginator ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.paginator li {
  display: inline-block;
  vertical-align: top;   
  margin-right: 10px;  
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;  
  text-align: center;    
}

.paginator a {    
  text-decoration: none;
  color: #000;
  padding: 10px 16px;
}


.paginator-active {
  padding: 8px 16px;
  box-shadow: inset 0 0 0 2px #f1f1f1;  
  background-color: #fff;
}

.paginator .paginator-next {
  padding: 10px 30px;
}


/*модальное окно*/

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -315px;
  margin-top: 1010px;   
  
  padding: 50px 80px 50px 90px;
  width: 460px;
  
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.7);
  
  display: none;
}

/*анимация*/
@keyframes bounce {
  from {transform: translateX(-1000px);}
  to {transform: translateX(0);}  
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  width: 41px;
  height: 41px;
  padding: 0;
  
  font-size: 0;
  
  background-color: #fb565a;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
  
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal-content-close::before {
  content: "";
  width: 5px;
  height: 25px;
  background-color: #fff;
  transform: rotate(45deg);  
  position: absolute;
  top: 8px;
  left: 18px
  
}

.modal-content-close::after {
  content: "";
  width: 5px;
  height: 25px;
  background-color: #fff;
  transform: rotate(-45deg);  
  position: absolute;
  top: 8px;
  left: 18px;  
}

.write-us {
 font-size: 0; 
}

.write-us label {
  font-size: 16px;
  line-height: 18px;
  
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;

}

.write-us-span {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

.write-us label:nth-child(2) {
  margin-right: 0;
}

.write-us-text {
  margin-right: 0;
  resize: none;
}


.write-us-field {
  width: 196px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 8px 10px;
}

.write-us-field:hover {
  border-color: #a2a9ac;
}

.write-us-field:focus,
.write-us-text:focus {
  border-color: #56bffb;
}

.write-us input[placeholder] {
  text-transform: uppercase;
  font-size: 12px;   
}

.write-us input::-webkit-input-placeholder {color:#000;}
.write-us input::-moz-placeholder          {color:#000;}/*Firefox 19+*/
.write-us input:-moz-placeholder           {color:#000;}/*Firefox 18-*/
.write-us input:-ms-input-placeholder      {color:#000;}

.write-us-text {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 8px 10px;
  
  width: 436px;
  height: 94px;
  
  font-size: 12px;
}

.write-us-btn {
  margin-top: 28px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fb565a;
  color: #fff;
}