body {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 18px;
    
  /* для отслеживания сетки*/
  /*background-image: url("/img/nerds-index.jpg");
  /*background-position: center;
  /*background-repeat: no-repeat;*/
}

h1 {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  line-height: 1.2;    
}

h2 {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  line-height: 100%;    
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-header {  
  background-color: #eeeeee;
}

.slider-wrapper {
  background-color: #eeeeee; 
  margin-bottom: 80px;
}

.title-wrapper {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.container {
  width: 880px;
  margin: 0 auto;  
}


.logo {
  width: 140px;
  float: left;
  margin-right: 20px;
    
  /*для сетки*/
  min-height: 85px;
  background-color: #FFFF99;
}

.main-navigation {
  width: 560px;
  float: left;
    
  /*для сетки*/
  min-height: 85px;
  background-color: #FFFF99;
}

.main-navigation li {
  display: inline-block;
}

.cart {
  width: 100px;   
  float: right;
    
  /*для сетки*/
  min-height: 85px;
  background-color: #FFFF99;
}

.slider {
  height: 350px;

  /*для сетки*/
  background-color: #FFCCFF;
}

.services {
  margin-bottom: 40px;  
}

.service-title {
  font-size: 18px;
  line-height: 30px;
}

.service-red {
  width: 240px;
  float: left;
  margin-right: 80px;
  font-size: 15px;

  /*для сетки*/
  min-height: 300px;
  background-color: #CCFFFF;
}

.service-green {
  width: 240px;
  float: left;
  margin-right: 80px;
  font-size: 15px;

  /*для сетки*/
  min-height: 300px;
  background-color: #CCFFFF;
}

.service-yellow {
  width: 240px;
  float: left;
  margin-right: 0;
  font-size: 15px;
    
  /*для сетки*/
  min-height: 300px;
  background-color: #CCFFFF;   
}

.about-us {
  margin-bottom: 2px;
}

.about-us-left-column {
  width: 620px;
  float: left;
  
 /*для сетки*/
 min-height: 472px;
 background-color: #FFFFCC;
}

.about-us-right-column {
 width: 240px;
 float: right;
    
 /*для сетки*/
 min-height: 472px;
 background-color: #FFFFCC;
}

.our-clients {
  width: 880px;
  padding: 35px 0 25px 0;
  margin-bottom: 85px;
  
  /*для сетки*/
  min-height: 106px;
  background-color: #99CCFF;
}


.map-wrapper {
  min-height: 415px;  
}

.map {
  position: relative;
}


.map-address {
  display: block;
  width: 250px;
  height: 240px;
  background-color: #ffffff;
  margin-bottom: 0;
    
  position: absolute;
  bottom: 90px;   
}
   


.map-img img {
  display: block;
  margin: 0 auto;
}

.page-footer {
  padding: 70px 0 70px 0;
  
  /* для сетки */
  background-color: #eeeeee;
}

.page-footer-socials {
  width: 240px;
  float: left;
  margin-right: 80px;  
}

.page-footer-text {
  width: 550px;
  float: left;  
}

.page-footer-text span {
  font-size: 36px;
  line-height: 36px;
}

.catalog-title {
  width: 880px; 
  padding-top: 70px;

  /* для сетки */
  min-height: 173px;
  background-color: azure;
}

.catalog-title h1 {
  text-align: center;
}

.column-left-filters {
  width: 240px;
  float: left;
}

.filters {
  width: 240px;
    
  /* для сетки */
  min-height: 730px;
  background-color: beige;
}



.column-right-items {
  width: 560px;
  float: right;
}

.catalog-items {
  font-size: 0px;
}

.catalog-item {
  width: 240px;
  display: inline-block;
  margin-bottom: 80px;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px; 
  position: relative;
}

.catalog-item:nth-child(odd) {
  margin-right: 80px;
}

.catalog-item-title {
  font-size: 18px;
  text-transform: uppercase;
}

.catalog-item-form {
  width: 200px;
  min-height: 200px;
  position: absolute;
  top: 20px;
  background-color: #ffffff;
}

.items-filter {
  
  margin-bottom: 15px;
  
  /* для сетки*/
  min-height: 20px;
  background-color: #eeeeee;
}

.items-filter-title {
  width: 86px;
  float: left;
  margin-right: 40px;  
}

.items-filter-category {
  width: 304px;
  float: left;
  margin: 0;
  
  
}

.items-filter-category li {
  display: inline-block;
  vertical-align: top;
} 


.items-filter-controls {
  width: 28px;
  float: right;
}

.paginator {
  margin-bottom: 80px;
  
  /*для сетки*/
  min-height: 40px;
  background-color: #eeeeee;
}

.paginator li {
  display: inline-block;
}